.navbar {  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  color: #ddd;
  border-bottom: 2px solid #3c3c3c;
}
.navbar .logo {
  width: max(12vw, 120px);
}
.navbar ul {
  display: flex;
  gap: 45px;
  list-style: none;
}
.navbar li {
  cursor: pointer;
  transition: 0.3s;
}

.navbar li:hover {
  color: #fff;
  transform: translateY(2px);
}
.nav-right {
  display: flex;
  align-items: center;
  gap: max(1vw, 12px);
}

.navbar select {
  padding: 5px 8px;
  border-radius: 6px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}

.navbar option {
  background-color: #09005c;
  color: #fff;
}

.navbar button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  color: #393939;
  background: white;
  border: none;
  cursor: pointer;
}
.navbar button img {
  width: 13px;
}
