.spinner {
  display: grid;
  place-self: center;
  min-height: 80vh;
}
.spin {
  width: 65px;
  height: 65px;
  place-self: center;
  border: 5px solid #bdbdbd;
  border-top-color: #4500c6;
  border-radius: 50%;
  animation: rotation 2s infinite;
}
@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.coin {
  padding: 0 20px;
}
.coin-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 10px auto;
  margin-bottom: 50px;
}

.coin-name img {
  max-width: 100px;
}
.coin-name p b {
  font-size: 44px;
  font-weight: 500;
}
.coin-chart {
  max-width: 600px;
  height: 250px;
  margin: auto;
  color: red;
}

.coin-info {
  max-width: 600px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.coin-info ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #5f5d5f;
  list-style: none;
}

.coin-info ul li:last-child {
  font-weight: 300;
}
