@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
.app {
  color: white;
  min-height: 100vh;
/*   background: linear-gradient(#0b004e, #1d152f, #002834); */
    background: linear-gradient(#C9DABF, #9CA986, #808D7C);
}
